*.unity merge=unityyamlmerge
*.prefab merge=unityyamlmerge
*.mat merge=unityyamlmerge
*physicsMaterial2D merge=unityyamlmerge
*physicsMaterial merge=unityyamlmerge
*.controller merge=unityyamlmerge
*.anim merge=unityyamlmerge
*overrideController merge=unityyamlmerge
*.mask merge=unityyamlmerge

*.meta merge=ours
